#contents {
width:1125px;
margin:auto;
padding-top:30px;
}

#globalHeader {
    background: url("../img/navibg.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    left: 50%;
    margin: 0 auto 60px -562px;
    overflow: hidden;
    padding-bottom: 54px;
    padding-top: 90px;
    position: fixed;
    top: 0;
    width: 1140px;
    z-index: 99999;
}

.detail #pic li{
    width: 1140px;
	margin:auto;
	float:none;
	}