@charset "utf-8";
/* ===================================================================
 style info : 各cssファイル読み込み用
 author     : name
=================================================================== */

/* default style - リセット
----------------------------------------------------------- */
@import url("./default.css");


/* all style
----------------------------------------------------------- */
@import url("./style.css") ;
@import url("./5block_style.css") screen and (min-width: 1600px);
@import url("./4block_style.css") screen and (max-width: 1600px);
@import url("./3block_style.css") screen and (max-width: 1315px);

