@charset "utf-8";
/* ===================================================================
 style info : コンテンツエリア関係 他

fonts
 10px = 77%     11px = 85%     12px = 93%     13px = 100%
 14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
 18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
 22px = 167%    23px = 174%    24px = 182%    25px = 189%
 26px = 197%
=================================================================== */

/*----------------------------------------------------
	共通
----------------------------------------------------*/
/* スクロールバーの有無によるズレ対策 */
html {
	overflow-y: scroll;
}

body {
	font-family: 'Lato','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
	background-color:#f7f7f5;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #292621;
    color: #FFFFFF;
		font-weight:bold

}
::selection {
    background: none repeat scroll 0 0 #292621;
    color: #FFFFFF;
	font-weight:bold
}

input, textarea {
	font-family: 'Lato','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

/* for IE6 */
* html body {
	font-family: 'Lato','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}
* html input, * html textarea {
	font-family: 'Lato','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

/* リンク
----------------------------------------------------*/
a {
}

a:link {
	background-image: none;
}

a:visited {
}

a:hover {
text-decoration:none
}

a:active {
}

/* 汎用
----------------------------------------------------*/
/* clerfix */
#contents:after {
	content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
}

.imgR {
	float: right;
	margin: 0 0 10px 10px;
}

.imgL {
	float: left;
	margin: 0 10px 10px 0;
}

.tC,
.btn {
	text-align: center;
}

.tR,
.sign {
	text-align: right;
}
.fontS{
font-size:80%
}

/*----------------------------------------------------
	#page（ページ全体）
----------------------------------------------------*/
#page {
	font-size: 100%;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	position: relative;
}

#globalHeader h1 {
float:left;
width:285px;
}

#globalHeader h1 img {
width:170px;
height:21px;
}

#globalHeader h2 {
font-size:65%;
font-weight:normal;
position:absolute;
right:0;
padding-top:18px;
}


#globalHeader .boxSns {
position:absolute;
right:0;
position:absolute;
padding-top:14px;
display:none;
}




/*----------------------------------------------------
	#contents（メインとサイド）
----------------------------------------------------*/
	

#globalHeader img {
	vertical-align: bottom;
}

#mainnavi {
margin-top:18px;
}

#mainnavi ul li {
float:left;
margin-right:25px;
font-size:11px;
}

#mainnavi ul li a{
margin-top:30px;
text-decoration:none;
color:#333;
letter-spacing:0.1em;
font-weight:400;
padding-top:150px;
padding-bottom:54px;
}

#mainnavi ul li a.current{
border-bottom:1px solid #ec652b;
}

#mainnavi ul li a:hover{
border-bottom:1px solid #ec652b;
}


#mainnavi {
float:left;
}

#globalHeader #mainnavi ul li img{
vertical-align:top;
}


#globalHeader #share dt {
	float: left;
	padding-right: 5px;
}



#pic{
clear:both;
margin-right:-15px;
}
#pic li {
	width: 285px;
	float: left;
	list-style-type: none;
	margin: 0 0px 30px 0 ;
}
#slidemenu{
width:80px;
position:fixed;
background-color:#2369AF;
height:100%;
left:0;
top:0;
overflow:hidden;
color:#FFFFFF;
}

#slidemenu h1{
width:200px;
background-color:#2369AF;
height:100%;
font-size:10px;
color:#FFFFFF;
font-weight:normal;
}

#slidemenu h1 a{
text-decoration:none;
color:#FFFFFF;
text-align:center;
}
#slidemenu .taketori-col{
overflow:hidden !important;
position:fixed;
top:50%;
margin-top:-150px !important;
margin-left:-1.6em !important;
text-indent:2em;
padding-bottom:0px !important;
}

#slidemenu .taketori-col img{
padding-bottom:13px !important;
}

.chrome #slidemenu .taketori-col{
overflow:hidden !important;
position:fixed;
top:50%;
margin-top:-100px !important;
margin-left:-1.6em !important;
text-indent:2em;
}



/*----------------------------------------------------
	#main（メインコンテンツ）
----------------------------------------------------*/

.totalsite {
	font-size: 80%;
	clear: both;
	letter-spacing:1px;
	padding-top: 10px;
	margin-bottom:20px;

}
#topicPath  {
	clear: both;
	padding-top: 8px;
	position:absolute;
	right:0;
	top:100px;
	font-size:60%;
}

#topicPath li {
display:inline;
padding-left:10px;
color:#333333;
}

#topicPath li a{
color:#333333;
}





.wp-pagenavi {
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing:-0.05em;	
	text-shadow: -1px -1px 0px rgba(61,61,61,0.1);
}

.wp-pagenavi nav .Nav {
	clear: both;
	float:left;
}

.wp-pagenavi  span {
	font-family: Century Gothic;
	color: #1E113C;
	padding-top:8px;
	margin-right: 10px;
	margin-left: 0px;
	float: left;
	font-size:70%;
	font-weight:bold;
	float:left;
	padding-bottom:10px;

}
.wp-pagenavi  a {
	font-family: Century Gothic;
	margin-bottom: 1px;
	margin-right: 1px;
	list-style-type: none;
	display: block;
	font-size: 78%;
	width:57px;
	text-align: center;
	text-decoration: none;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	float: left;
}
.wp-pagenavi  .on {
	font-family: Century Gothic;
	background-color: #1e546a;
	color: #FFFFFF;
	display: block;
	font-size: 78%;
	text-align: center;
	text-decoration: none;
	width:57px;
	margin-right: 1px;
	float: left;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
}
.wp-pagenavi  a strong {
	font-family: Century Gothic;
	font-weight:normal;
	clear: both;
	-webkit-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	-moz-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	-ms-box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
	box-shadow: 0px 0px 2px rgba(51,51,51,0.1);
}

.wp-pagenavi a:link {
	background-color: #FFFFFF;
	color: #333333;
}
.wp-pagenavi a:visited {
	background-color: #cacaca;
	color: #ffffff;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active {
	background-color: #e8692b;
	color: #FFFFFF;
}
.wp-pagenavi .NavEnd a:hover, .wp-pagenavi .NavEnd a:hover ,  .wp-pagenavi .NavEnd a:active , .wp-pagenavi .NavEnd a:active {
	background-color: #636363;
	color: #FFFFFF;
}
.wp-pagenavi .nextpostslink2 {
	font-size: 50%;
	line-height: 2em;
}
.wp-pagenavi .nextpostslink {
	font-size: 50%;
	line-height: 2em;
}

.award-holder-med {
	position: fixed;
	top: 10px;
	right: 0px;
	z-index:10000000000000;
}


#pageTop {
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 50px;
}
#pageTop #btn {
	vertical-align: bottom;
	position: absolute;
	bottom: 40px;
}
#pageTop img {
opacity:0;
}
#pic  .cap {
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 1px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	font-size: 70%;
	height: 20px;
	line-height: 1.7em;
}
#pic .cap a {
	background-repeat: no-repeat;
	background-position: left center;
	color: #4f4f4f;
	text-decoration: none;
}
#pic .cap a:hover {
text-decoration:underline
}
#pic img  {
	margin: 0px;
	padding: 0px;
	width: 285px;
	height: 214px;
	overflow: hidden;
	display: block;
	vertical-align: bottom;
}

#pic  .cap   a  span {
	color: #333333;
	letter-spacing:0;
}

#contents #tit {
	font-size: 80%;
	padding-bottom: 15px;
	z-index: 100000;
	color: #1e546a;
	font-weight: bold;
}


#globalFooter {
	clear: both;
	padding-top: 15px;
	padding-bottom: 5px;
}


#about {
font-size:75%;
padding-bottom:120px;
}

#about h3 {
	font-size: 100%;
	color: #28657e;
	margin-bottom: 15px;
}
#about .txt {
	margin-bottom: 50px;
	line-height:1.8em;
}

#about .txt .list {
	margin-top: 15px;
	font-size:80%;
}

#about .txt .list li {
	line-height:2em;
}


#about .about li {
	list-style-type: none;
	padding-bottom:0px;
	line-height:1.3em;

}
#about .about dt {
	display: block;
	width: 14em;
	float: left;
	clear: both;
}
#about .about dl {
	display: block;
	padding-bottom: 5px;
}

#about .about a {
	color: #4f4f4f;
}

#about .about a:hover {
	color: #4f4f4f;
	text-decoration:underline;
}

#globalFooter .copyright {
	padding-top: 10px;
	
}
#globalFooter .f-share {
	padding-bottom: 10px;
	padding-top: 10px;
}

#infscr-loading{
display:none;
}

#cate{
margin:20px 0 100px 30px ;
}

#catelist .cate-inner{
width:320px;
float:left;
font-size:80%;
margin-bottom:30px;
}

#catelist .cate-inner a{
text-decoration:none;
color:#000;
}

#catelist .cate-inner a:hover{
text-decoration:underline;
}

#catelist .cate-inner a:visited{
color:#2369AF;
}

#cate h3{
margin-bottom:20px;
font-size:150%;
font-family:lato;
font-weight:900;
}

#cate ul{
margin-bottom:40px;
}


#cate li{
white-space:nowrap;
margin-bottom:15px;
font-size:90%;
letter-spacing:-0.05em;
list-style:none;
}

#catelist h3{
margin-bottom:20px;
font-size:90%;
font-family:lato;
font-weight:900;
}

#catelist li{
white-space:nowrap;
margin-bottom:15px;
font-size:90%;
letter-spacing:-0.05em;
list-style:none;
}


.archive{
padding-bottom:120px;
}

.ico-blank a{
background:url(../img/blank.png) right center no-repeat;
padding-right:12px;
}

#a04{
background:url(../img/blank.png) right center no-repeat;
padding-right:12px;
}

#next{
width:100%;
clear:both;
background-color:#e6e6e4;
}

#next img{
text-align:center;
margin:auto;
padding:7px 0;
}


.detail #pic li img{
	width:100% !important;
	height:100%;
	padding-bottom:100px;
	}	

.detail .cap  a.tit {
	font-size: 14px;
    height: 20px;
    line-height: 1.7em;
	text-decoration:none;
	}

.detail .cap a {
	font-size: 10px;
    height: 20px;
    line-height: 1.7em;
	font-weight:normal;
	color:#333;
}

.detail h2 {
	margin-bottom:30px;
	}				


/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}

.clearfix:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom:1;
}


#parlink{
font-size:80%;
font-weight:bold;
}
#facebookfanpage {
	width: 105px;
	float: none;
}
#share2 {
	vertical-align: super;
	padding-bottom: 5px;
	z-index:9999999;
	position:relative;
}
#share2 img {
	vertical-align: text-bottom;
	padding-left: 1px;
	padding-bottom: 3px;
}
