/*
 * jQuery Box Lid Plugin v0.1
 * https://github.com/jimjh/box-lid
 *
 * Copyright 2013 Jiunn Haur Lim
 * Released under the MIT License
 */
 .box-lid {
	-webkit-perspective-origin:50% 50%;
	-moz-perspective-origin:50% 50%;
	-ms-perspective-origin:50% 50%;
	-o-perspective-origin:50% 50%;
	perspective-origin:50% 50%;
}
.box-lid .box-lid-content {
	-webkit-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	-moz-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	-o-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	background-color:#f7f7f5;
}
.box-lid-icon {
background:url("../../../img/icon_cate.gif") 0 0 no-repeat;
	position:absolute;
	top:50%;
	left:40%;
	margin-top:-50px;
	height:81px;
	width:13px;
    font-size:0;
	background-size:cover;
}


.box-lid-menu {
	-webkit-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);
	-moz-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);
	-o-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);
	transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);
	width:70px;
	background:#2369AF;
	position:fixed;
	height:100%;
	top:0;
	left:0;
	z-index:999999;
	font-size:80%;
	overflow:hidden;
}
.box-lid-menu nav {
	-webkit-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	-moz-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	-o-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:-400px;
	color:#fff;
}
.box-lid-open .box-lid-content {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.box-lid-open .box-lid-icon {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
}
.box-lid-open .box-lid-menu nav {
	left:0;
	width:355px;
}

.box-lid-open .box-lid-menu {
	width:370px;
}
