/*
 * jQuery Box Lid Plugin v0.1
 * https://github.com/jimjh/box-lid
 *
 * Copyright 2013 Jiunn Haur Lim
 * Released under the MIT License
 */

.box-lid-menu nav {
padding:30px 0 0 15px;
}
.box-lid-menu nav a {
	-webkit-transition:all 100ms ease-in;
	-moz-transition:all 100ms ease-in;
	-o-transition:all 100ms ease-in;
	transition:all 100ms ease-in;
	text-decoration:none;
	color:#fff;
}
.box-lid-menu nav a:hover {
	padding-left:.75em;
	background:#000
}
