@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,p,form,fieldset,input,textarea,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
ol,ul { list-style:none; }
input, textarea, select { border: 1px solid #ccc; font-size:12px; }
input[type="text"],input[type="password"],input.file { padding:3px; border: 1px solid #CCC; }
label { margin-right:10px; }
textarea { padding:3px; border: 1px solid #CCC; }
select { padding:3px; border: 1px solid #CCC; }
.keyword { margin-bottom:10px; }
.btn { text-align:center; margin:20px 0 10px 0; }
input[type="submit"] {
width:300px;
height:40px;
cursor: pointer;
border: 0px;
margin-right: 10px;
text-decoration: none;
font-weight: bold;
font-size: 13px;
background: #FFF;
background: -moz-linear-gradient(top,#B5B5B5 0%,#696868);
background: -webkit-gradient(linear, left top, left bottom, from(#B5B5B5), to(#696868));
background: linear-gradient(to bottom, #B5B5B5 0%, #696868 100%);
border: 1px solid #DDD;
color: #FFF;
padding:30px 30px;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
overflow: hidden;
-webkit-box-shadow: 1px 1px 2px #E7E7E7;
-moz-box-shadow: 1px 1px 2px #E7E7E7;
box-shadow: 1px 1px 2px #E7E7E7;
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B5B5B5',endColorStr='#696868', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B5B5B5, endColorstr=#696868, GradientType=0)";
zoom: 1;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.red { color:#CC0000; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.clear	{ clear:both; }
.bg_gray { background: #EEE; }
body { background:#EEE; font-family:Verdana, Arial, Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴシック Pro W3", sans-serif; font-weight:normal; color:#666666; font-size:14px; }

a:link, a:visited { color: #369; text-decoration: none; }
a:hover { color: #C36; text-decoration: underline; }

strong { color:#CC0000; }

.center { text-align:center; }
.right { text-align:right; }
.f_right { float:right; }
#submit { text-align:center; color:#FFF; border-color: #456; padding:5px 10px; margin-bottom:20px; }

#wrapper { background:#F7F7F5; margin: 0 auto; overflow: hidden; _zoom: 1; }

/* header
***************************************************/
#header { position:relative; overflow: hidden; _zoom: 1; background:#000; padding:20px 20px; }
#header h1 { font-size:16px; font-weight:normal; text-align:center; color:#FFF; }
#header p.user { position:absolute; top:40px; right:0; font-size:14px; background: url(../img/status_online.png) no-repeat left center; padding-left:20px; }
#header ul { position:absolute; top:0; right:0; }
#header ul li.sitelink { float:left; margin-left:10px; font-size:12px; background: #2369AF url(../img/attach_2.png) no-repeat 5px center; padding: 5px 5px 5px 25px }
#header ul li.logout { float:left; margin-left:10px; font-size:12px; background: #2369AF url(../img/lock_unlock.png) no-repeat 5px center; padding: 5px 5px 5px 25px }

#header ul li a { color:#FFF; display: block; }

/* main
***************************************************/
#main { overflow: hidden; _zoom: 1; padding:10px; }
#main .toplink { margin-top:20px; clear:both; text-align:right; font-size:12px; }
#main .toplink a { background: #333 url(../img/hand_point.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }

.sidebar { float:left; width:180px; font-size:14px; }
.sidebar ul {}
.sidebar ul li { background:#EEE; margin-bottom:10px; }
.sidebar ul li dt { background:#2369AF; padding:5px; color:#FFF; }
.sidebar ul li dt.category { background:#2369AF url(../img/folder.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }
.sidebar ul li dt.page { background:#2369AF url(../img/page.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }
.sidebar ul li dt.item { background:#2369AF url(../img/pill.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }
.sidebar ul li dt.evaluation { background:#2369AF url(../img/star_1.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }
.sidebar ul li dt.reviews { background:#2369AF url(../img/comment.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }
.sidebar ul li dt.user { background:#2369AF url(../img/group.png) no-repeat 5px center; padding: 5px 5px 5px 25px; color:#FFF; }

.sidebar ul li dt a { color:#FFF; display: block; font-weight:bold; }
.sidebar ul li dt a:hover { display: block; }
.sidebar ul li dd { border-bottom: dotted 1px #CCC; background: url(../img/bullet_add_1.png) no-repeat 5px center; padding:2px 2px 0px 15px; font-size:12px; }
.sidebar ul li dd a { display: block; }

.pankuzu { margin: 0 0 10px 200px; font-size:12px; }
.contents { margin-bottom: 20px;
padding:10px;
background-color: #fff;
border: 1px solid #bdc8ca;
}
.contents h2 { clear:both; background:#333; color:#FFF; font-weight: normal; font-size:20px; padding:5px; margin-bottom:20px; }
.contents h3 { clear:both; background:#EEE; border-left: solid 10px #2369AF; font-size:20px; font-weight:normal; padding:5px; margin-bottom:20px; }
.contents h4 { color:#369; font-size:18px; margin-bottom:20px; }
.contents p { font-size:14px; margin-bottom:20px; }
.contents ul { overflow: hidden; _zoom: 1; margin-bottom:20px; }
.contents ul li.new { background: url(../img/application_edit.png) no-repeat left center; padding-left:20px; }
.contents ul li.pass { background: url(../img/key.png) no-repeat left center; padding-left:20px; }
/* login
***************************************************/
#login { margin:20px auto; width:400px; background:#FFF; border-top: solid 5px #2369AF; padding:10px; }
#login h1 { text-align:center; font-weight: normal; margin-bottom:20px; }
#login table { width: 100%; border:1px solid #CCC; font-size:12px; margin-bottom:20px; }
#login th { background:#EEE; border:1px solid #CCC; font-weight:bold; padding:10px; }
#login td { border: 1px solid #CCC; padding:10px; }

/* footer
***************************************************/
#footer { height:120px; overflow: hidden; _zoom: 1; }
#footer p { margin-top:50px; text-align:center; color:#FFF; }

#pagenation {
}
#pagenation ul {
	float:right;
	list-style: none;
}
#pagenation li {
	float:left;
}
#pagenation li a {
	border:1px solid #CECECE;
	margin: 0 3px;
	padding:3px 7px;
	display: block;
	text-decoration:none;
	color: #FFF;
	background:#006CB2;
}
#pagenation li.active a,
#pagenation li a:hover{
	border:solid 1px #666666;
	color: #FFFFFF;
	background: #2369AF;
}

.global-nav {
  margin: 0 0 30px;
  padding: 0;
  border-top: 1px solid #368DC5;
  font-size: 13px;
  list-style-type: none;
}
/*clearfix*/
.global-nav:after {
  content: "";
  clear: both;
  display: block;
}
.global-nav li {
  float: left;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #368DC5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   background:#FFF;
}
.global-nav li:nth-child(odd) {
  border-right: 1px solid #368DC5;
}
.global-nav a {
  display: block;
  line-height: 44px;
  color: #006CB2;
  text-decoration: none;
}
.global-nav a:hover {
  color: #FFF;
  background: #0257A1;
}
/*
@media screen and (min-width: 1280px) {
.global-nav li:nth-child(odd) {
  border-right: none;
}
*/
.global-nav {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: none;
  border-collapse: collapse;
}
.global-nav li {
  float: none;
  display: table-cell;
  width: 100%;
  border-bottom: none;
  border: 1px solid #368DC5;
}

table   { width: 100%; }
th,td  { padding: 10px; border: 1px solid #ddd; }
th  { background: #f4f4f4; }
td span { padding-right:10px; }